.singleEvent{
    margin:30px;
    border:2px solid black;
    height:150px;
    width:25%;
    border: none;
    border-radius:20px;
    text-align: center;
    box-shadow: 0 10px 20px rgb(0 0 0 / 0.6);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}